$scheme-main: $black;
$scheme-invert: $white;

$text: $text-invert;
$text-strong: $text-invert;

$family-monospace: 'Ubuntu Mono';
$family-primary: $family-monospace;

$gradient-morning: linear-gradient(
  90deg,
  rgba(255, 95, 109, 1) 0%,
  rgba(255, 195, 113, 1) 100%
);
