@import '~bulma';
@import './fonts';
@import './buttons';
@import './layout';
@import './messages';
@import './scrollbars';
@import './tables';
@import './tags';
@import './tooltips';
@import './transitions';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  user-select: none;
}

.titlebar {
  .window-title {
    font-size: 15px !important;
  }

  .window-controls-container {
    // Maximize button
    :nth-child(2) {
      display: none !important;
    }
  }
}

.container-after-titlebar {
  overflow: hidden !important;
}
